body {
	/*background-color: #408080;*/
	background-color: #073642;
	text-align: center;
}

/*note: default color for site (solar bootswatch) is probably #073642*/

h1 {
	font-size: 50px;
	color: #400000;
}

h3{
	color: #400000;
}

h5{
	text-align: center;
	color: white;
}

#enterLogin {
	margin-top: 20px;
}

#indexpg {
	margin-top: 20px;
	margin-bottom: 80px;
}

#attentiongrab {
	color: white;
	font-size: 30px;
}

#table-headers {
	background-color: #400000;
	color: white;
}

#table-body {
	color: white;
	text-align: left;
	background-color: #408080;
}

#click-text {
	color: white;
	padding-top: 20px;
}

#create-account {
	margin-bottom: 20px;
}

#btn-login1{
	background-color: #400000;
	/*width: 60px;
	height: 35px;*/
}

#btn-login2{
	background-color: #400000;
	/*width: 60px;
	height: 35px;*/
}

#btn-login3{
	background-color: #400000;
	/*width: 60px;
	height: 35px;*/
}

#admin-login-text{
	font-size: 20px;
}

a{
	color: #400000;
	font-size: 20px;
}

#coffee {
	border: 3px solid #400000;
	border-radius: 50%;
	height: 200px;
}


button {
	border: 2px solid #400000;
	padding: 8px;
	border-radius: 20px;
	background-color: #9b4819;
}

label {
	font-color: white;
}

.container-fluid {
	width: 100%;
}

#registration-heading {
	color: #400000;
}


.intro-stuff {
	text-align: center;
}

.login-buttons {
	text-align: center;
	
}







	